<!-- Content Wrapper. Contains page content -->
<div class="hold-transition skin-blue">

  <!-- Main content -->
  <section class="content" style="min-height:0">

    <!-- Top Row shows #messages, #gateways and #sensors -->
    <div class="row">
        
      <div class="col-lg-4 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3 id="nrOfThings">n.a.</h3>
            <p>Connected Things</p>
          </div>
          <div class="icon">
            <i class="fa fa-square"></i>
          </div>
          <a href="/things" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      
      <div class="col-lg-4 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3 id="nrOfSensors">n.a.</h3>
            <p>Active Sensors</p>
          </div>
          <div class="icon">
            <i class="fa fa-microchip"></i>
          </div>
          <a href="/sensors" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->

      <div class="col-lg-4 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3 id="nrOfMessages">n.a.</h3>
            <p>Total Messages</p>
          </div>
          <div class="icon">
            <i class="fa fa-list-ul"></i>
          </div>
          <a href="/Messages" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- ./row -->


  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->    


