<!-- Main Footer -->
<footer class="footer">
  <nav class="navbar navbar-default" role="footer">
    <div class="container-fluid">    
      <div class="navbar-header">
        Copyright &copy; 2017 <a href="http://www.thingdust.com">Thingdust</a>. All rights reserved.
      </div>
      <div class="navbar-header navbar-right">
        Version 1.15.12
      </div>
    </div>
  </nav>
</footer>