  <!-- Main Header -->
  <header>
    <!-- Header Navbar -->
    <nav class="navbar navbar-default navbar-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src="images/thingdust_icon.svg" class="img-responsive" alt="Thingdust Image" width="60">
          </a>
        </div>
        <div class="navbar-header navbar-right">
          <a class="navbar-brand" href="#">
            <img src="images/migros.png" class="img-responsive" alt="Customer Image" width="30" height="30">
          </a>
          <span class="navbar-brand" href="simple.html">Migros AG</span>
        </div>
      </div>
    </nav>
  </header>
  