
  <!-- Content Wrapper. Contains page content -->
  <div class="hold-transition skin-blue">

    <!-- Main content -->
    <section class="content">

    <div class="row">
      <div class="col-xs-12">
        
        <div class="box box-primary hidden" id="things_created_box">
          
          <div class="box-header">
            <h3 class="box-title">Things</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-target="SensorTable"><i class="fa fa-list-ul"></i></button>
              <button type="button" class="btn btn-box-tool" data-target="SensorGrid"><i class="fa fa-th"></i></button>
            </div>

          </div>
          <!-- /.box-header -->

          <div class="box-body table-responsive no-padding" id="ThingTable">
            <table class="table table-hover">
              <thead><tr>
                <th>Name</th>
                <th>Description</th>   
                <th>Type</th>                             
                <th>Location</th>
                <th>Sensors</th>
                <th>Last Seen</th>                
              </tr>
              <tbody id="thing_table"> 
              <!-- inserted by JS -->              
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        
          <div class="box-body hidden" id="ThingGrid">
            <div class="row" id="thing_grid" > 
              <!-- inserted by JS -->
            </div>  
            <!-- /.row -->

          </div>
          <!-- ./box-body -->

          <div class="box-footer clearfix">

            <ul class="pagination pagination-sm no-margin pull-right">
              <li><a href="#">«</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">»</a></li>
            </ul>
          </div>
          
          Create another thing.
              <button type="button" class="btn btn-app" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i></button>
          <!-- /.row -->   

        </div>
        <!-- ./box -->          

        
        <div class="box box-primary hidden" id="no_things_created_box">
          
          <div class="box-header">
            <h3 class="box-title">Things</h3>
          </div>
          <!-- /.box-header -->
        
          <div class="box-body" id="SensorGrid">
            <div class="row">
              You don't have any things configured. Create one.
              <button type="button" class="btn btn-app" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i></button>
            </div>  
            <!-- /.row -->

          </div>
          <!-- ./box-body -->

        </div>
        <!-- ./box -->          


            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                 
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create a new Thing</h4>
                  </div>
                 
                  <div class="modal-body">

                    <form class="form form-horizontal" id="thing-create-form">
                     
                      <div class="box-body">
                        
                        <div class="form-group">
                          <label for="inputThingName" class="col-sm-2 control-label">Name</label>

                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="thing_name" name="thing_name" placeholder="Unique Thing Name">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="inputThingDesc" class="col-sm-2 control-label">Description</label>

                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="thing_description" name="thing_description" placeholder="Thing Description">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="inputThingType" class="col-sm-2 control-label">Type</label>
                            
                          <div class="col-sm-10">
                            <select class="form-control" id="inputThingType" name="thing_type" >
                              <option value="space">Space</option>
                              <option value="room">Room</option>
                              <option value="desk">Desk</option>
                              <option value="thing">Any other Thing</option>
                            </select>
                          </div>

                        </div>

                      </div>
                      <!-- /.box-body -->

                    </form>
      
                  </div>
                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" form="thing-create-form">Create</button>
                  </div>

                </div>
              </div>
            </div>  



      </div>
      <!-- .col -->      
    </div>
    <!-- ./row -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

