
  <!-- Content Wrapper. Contains page content -->
  <div class="hold-transition skin-blue">

    <!-- Main content -->
    <section class="content">

    <!-- Your Page Content Here -->
    
      <!-- Content Header (Page header) -->

      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
            
            <div class="box-header">
              <h3 class="box-title">Messages</h3>
            </div>
            <!-- /.box-header -->
            
            <div class="box-body table-responsive no-padding">
              </thead>
              <table id="messages" class="table table-hover">
                <thead>
                  <tr>
                    <th>DevEUI</th>
                    <th>Type</th>
                    <th>Received</th>
                    <th>Occupation</th>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>APP ID</th>
                    <th>DEV ID</th>
                  </tr>
                </thead>
              </table>
            </div>
            <!-- /.box-body -->
          
          </div>
          <!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <% block('localScripts', '<script src="/js/thingdust/messages.js"></script>') %>
